<div id="post">
    <header>
        <p>{{title}}</p>
        {{!-- The following may be total crap --}}
        <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
    </header>
    <main>
        <p>{{text}}</p>
    </main>
</div>